<div class="best-features" id = 'about-us'>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>About HarvestHub
            </h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Looking for the affordable groceries  </h4>
            <p>HarvestHub is a groundbreaking platform that transforms the agricultural supply chain by connecting farmers directly with consumers. Many farmers face challenges selling produce that doesn’t meet supermarket standards, resulting in food waste and diminished profits, while consumers confront high prices due to middlemen.</p>

                <p>With a vision to reduce food waste, promote sustainability, and empower local economies, HarvestHub paves the way for a future where farmers can flourish by selling directly to consumers. This innovative approach ensures fair prices and minimizes unsold inventory, allowing consumers to enjoy fresh, affordable produce that champions local farming and sustainable practices. HarvestHub stands as a beacon of hope, addressing economic, environmental, and social challenges with a user-friendly design deeply rooted in these empowering values.</p>

        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/feature-image.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>