<div class="call-to-action" id="contact-us">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="inner-content">
            <div class="row">
              <div class="col-md-8">
                <h4>Contact &amp; Us </h4>
                <p>You can email us on harvesthub2024@gmail.com or call us at 0412758857</p>
              </div>
              <div class="col-md-4">
                <a href="mailto:harvesthub2024@gmail.com" class="filled-button">Contact Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
