{% extends 'main.html' %}
{%load static%}
{% block content %}
    <!-- Page Content -->
    <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="text-content">
                <h4>Checkout Page</h4>
                
              </div>
            </div>
          </div>
        </div>
      </div>
  

<div class="products">
    <div class="container">
        {% if cart_items %}

      <div class="row">
        <div class="col-md-12">
          <div class="filters-content">
              <div class="row grid">
                {% for item in cart_items %}
                  <div class="col-lg-4 col-md-4 all des">
                    <div class="product-item">
                      <a href="#"><img src="{{ item.product.image.url }}" alt=""  style="width: 300px; height: 200px; object-fit: cover;"></a>
                      <div class="down-content">
                        <a href="#"><h4>{{ item.product.productName }}</h4></a>
                        <h6>Quantity : {{ item.quantity }} </h6>
                        <p>
                            {{ item.product.price }} x {{ item.quantity }} = ${{ item.total_price|floatformat:2 }}
                        </p>


                    <form method="POST" action="{% url 'cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{ item.product.id }}">
                        <button type="submit" class="btn btn-danger">Remove from Cart</button>
                    </form>
                    <br>
                    <span>Supplier : {{item.product.supplier.fullname}}</span>

                    



                    
                </div>
                
                    </div>
                  </div>
                  {% endfor %}

              </div>
          </div>
        </div>

      </div>
      {% else %}
      <p>Your cart is empty!</p>
  {% endif %}
    </div>
  </div>
  <div class="checkout-button" style="text-align: center; margin-top: 20px;">
    <a href="#" class="btn" style="background-color: #f33f3f; color: white; padding: 10px 20px; font-size: 16px; text-decoration: none; border-radius: 5px;">Proceed to Checkout</a>
</div>
{% endblock %}