{% extends 'main.html' %}
{%load static%}
{% block banner %}
{% include 'banner.html' %}
{% endblock %}

{% block content %}



    

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Latest Products</h2>
              <a href="{% url 'products' %}">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          {% for product in products %}
          <div class="col-md-4">
            <div class="product-item">
              <a href="#"><img src="{{ product.image.url }}" alt=""  style="width: 300px; height: 200px; object-fit: cover;"></a>
              <div class="down-content">
                <a href="#"><h4>{{ product.productName }}</h4></a>
                <h6>${{ product.price }} for {{product.quantity}}</h6>
                <p>{{ product.description }}</p>
                <span>Supplier : {{product.supplier.fullname}}</span>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary" style ="background-color: #f33f3f;;">Add to Cart</button>
              </form>
                
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


    {% include 'base-feature.html'%}
    {% include 'call-to-action.html'%}
    {% include 'footer.html'%}





    


{% endblock %}