{% extends 'main.html' %}
{%load static%}
{% block banner %}
    <!-- Page Content -->
    <div class="page-heading header-text" style = "background-image:url(cover.jpeg);">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>All Products</h4>

            </div>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
              <ul>
                <li><a href="?category=">All</a></li>
                {% for category in categories %}
                    <li><a href="?category={{ category.id }}">{{ category.categoryName }}</a></li>
                {% empty %}
                    <li>No categories found</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                  {% for product in products %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="#"><img src="{{ product.image.url }}" alt=""  style="width: 300px; height: 200px; object-fit: cover;"></a>
                        <div class="down-content">
                          <a href="#"><h4>{{ product.productName }}</h4></a>
                          <h6>${{ product.price }} for {{product.quantity}}</h6>
                          <p>{{ product.description }}</p>
                          <span>Supplier : {{product.supplier.fullname}}</span>
                          <form method="post" action="{% url 'add_to_cart' product.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                        </form>
                        </div>
                      </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
          </div>
          <div class="col-md-12">
            <ul class="pages">
              <li><a href="#">1</a></li>
              <li class="active"><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    
    {% include 'footer.html'%}
  
  {% endblock %}
